@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Spectral+SC');

body, html, .container-fluid {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

header {
	margin-top: 18%;
	text-align: center;
	font-family: 'Spectral SC', serif;
	font-size: 300%;
	color: rgb(8, 66, 79);
}

#subheader {
	margin: 2%;
	text-align: center;
	font-family: 'Spectral SC', serif;
	font-size: 125%;
}

#choices {
	padding: 1% 30%;
}

.choice {
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 150%;
}

.choice:hover {
	cursor: pointer;
	background-color: rgba(8, 99, 119, 0.3);
}

.row {
	margin: 0;
	padding: 0;
}

@media (max-width: 500px) {
	header {
		margin-top: 45%;
	}
}